.first-box{
    height: 100px;
    background: black;
    display: flex;
    position: relative;
}

.logo{
    position: absolute;
    top:35%;
    transform: translateY(-50%);
    left:160px;
}

.ekko{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:10px;
}

.list{
    display: flex;
    justify-content: space-between;
    margin-top:50px;
    margin-left: 32%;
    text-transform: uppercase;
}

.list-items{
    margin-left:40px;
    text-decoration: none;
    color:white;
}
.list-items:hover{
    color: #bf3b3a;
}
.list-items {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.list-items:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.and{
    color:#bf3b3a;
    font-weight: bold;
}

.research{
    position: absolute;
    top:47px;
    left:75%;
}
.research {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
.research:hover{
	-webkit-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

.txt-research{
    color: black;
    width: 350px;
    background: white;
    border-radius: 5px 5px;
    padding: 5px 5px;
    position: absolute;
    top:45px;
    left:77%;
}
.txt-research:hover{
    opacity: 0.8;
}


/*box 1*/

.box-1{
    background: url(../assets/images/back1.jpg) no-repeat fixed;
    background-size: cover;
    height: 90vh;
    position: relative;
}

.txt-box-1{
    padding-top:140px;
    padding-left:50px;
}

.title-box-1{
    font-size: 100px;
    text-transform: uppercase;
    font-weight: bold;
    color:white;
}

.subtitle-box-1{
    color:white;
    font-size:30px;
    padding-top:10px;
}

.button-box-1{
    text-decoration: none;
    color:white;
    background-color: #ce332e;
    padding: 15px 45px;
    border-radius: 5px 5px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 430px;
    left: 50px;
}
.button-box-1:hover{
    background-color: white;
    color:#ce332e ;
}

.arrow{
    position: absolute;
    top: 92%;
    left: 96%;
    padding: 10px 10px;
    background-color: #ce332e;
    border-radius: 50%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
/*dezoomer*/
.arrow:hover{
	-webkit-transform: scale(0.8);
    transform: scale(0.8);
    background-color: white;
}

.transition{
    background: white;
    height: 200px;
}

.title-transition{
    font-size: 50px;
    color: black;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.txt-transition{
    color: black;
    font-size: 25px;
    text-align: center; 
    line-height: 25px;
    padding-top: 20px;
}

.link-transition{
    text-decoration: none;
    color: black;
    font-size: 22px;
    text-align: center;
    line-height:70px ;
}
.link-transition:hover{
    color: #ce332e;
    text-decoration-line: underline;
}

/*box-2*/
.box-2{
    background: url(../assets/images/back-red.jpg) no-repeat fixed;
    position: relative;
    height: 100vh;
    background-size: cover;
}

.svg-wrapper {
    height: 60px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
}

.shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: #fff;
}

.text {
    color: #fff;
    font-family: 'Roboto Condensed';
    font-size: 22px;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    top: -45px;
    left: 18%;
    text-decoration: none;
    text-transform: uppercase;
}

@keyframes draw {
    0% {
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 8px;
    }

    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 5px;
    }
}

.svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
}


/*box-3*/

.box-3{
    height: 500px;
    background: white;
    display:flex ;
    position: relative;
}

.link-description-1{
    text-decoration: none;
    color: black;
    position: absolute;
    top: 84%;
    left:13%;
}
.link-description-1:hover{
    color:#ce332e ;
    text-decoration: underline;
}
.link-description-2{
    text-decoration: none;
    color: black;
    position: absolute;
    top: 84%;
    left:48% ;
}
.link-description-2:hover{
    color:#ce332e ;
    text-decoration: underline;
}
.link-description-3{
    text-decoration: none;
    color: black;
    position: absolute;
    top: 84%;
    left: 85%; 
}
.link-description-3:hover{
    color:#ce332e ;
    text-decoration: underline;
}


.items-3{
    text-align: center;
}

.moto-title-1{
    font-size:25px ;
    position: absolute;
    top: 68%;
    left: 12%;
}
.moto-title-2{
    font-size:25px;
    position: absolute;
    top: 68%;
    left:46% ;
}
.moto-title-3{
    font-size: 25px;
    position: absolute;
    top: 68%;
    left:84%; 
}

.description-1{
    font-size:18px;
    position: absolute;
    top: 76%;
    left:8% ; 
}
.description-2{
    font-size:18px;
    position: absolute;
    top: 76%;
    left: 37%;
}
.description-3{
    font-size:18px;
    position: absolute;
    top:76% ;
    left: 80%;
}

.link-moto-picture-1{
    position: absolute;
    top: 60px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.link-moto-picture-1:hover{
    -webkit-transform: scale(1.18);
	transform: scale(1.18);
}
.link-moto-picture-2{
    position: absolute;
    top: 30px;
    left:35% ;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.link-moto-picture-2:hover{
    -webkit-transform: scale(1.18);
	transform: scale(1.18);
}
.link-moto-picture-3{
    position: absolute;
    top: 30px;
    left:70% ;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.link-moto-picture-3:hover{
    -webkit-transform: scale(1.18);
	transform: scale(1.18);
}

.left-arrow{
    position: absolute;
    top:92%;
    left: 43.5%;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.left-arrow:hover{
    margin-left: -4px;
    opacity: 0.7;
}
.right-arrow{
    position: absolute;
    top:92%;
    left:56%;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.right-arrow:hover{
    margin-left: 4px;
    opacity: 0.7;
}

.point-1{
    position: absolute;
    top:93%;
    left:46%;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.point-1:hover{
    margin-top: -3px;
}
.point-2{
    position: absolute;
    top:93%;
    left:48%;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.point-2:hover{
    margin-top: -3px;
}
.point-3{
    position: absolute;
    top:93%;
    left:50%;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.point-3:hover{
    margin-top: -3px;
}
.point-4{
    position: absolute;
    top:93%;
    left:52%;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.point-4:hover{
    margin-top: -3px;
}
.point-5{
    position: absolute;
    top:93%;
    left:54%;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.point-5:hover{
    margin-top: -3px;
}

/*box4*/

.box-4{
    background: black;
    position: relative;
    height:1500px ;
}

.little-img1{
    position: absolute;
    top:50px;
    left:15px;
}
.little-img2{
    position: absolute;
    top:32% ;
    left:50% ;
}

.title-4_1{
    position: absolute;
    top: 120px ;
    left: 62%;
    color:white ;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
}
.title-4_2{
    position: absolute;
    top: 580px ;
    left: 8%;
    color:white ;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
}

.txt-4_1{
    position: absolute;
    color:white ;
    line-height: 28px;
    top: 180px;
    left: 62%;
    font-size: 20px;
}
.txt-4_2{
    position: absolute;
    color:white ;
    line-height: 28px;
    top: 670px;
    left: 8%;
    font-size: 20px;
}

.little-button-1{
    position: absolute;
}

.little-button-1{
    position: absolute;
}

.little-button-1{
    position: absolute;
    background-color: #ce332e;
    padding: 20px 20px;
    border-radius: 5px;
    color:white;
    text-decoration: none;
    top: 23%;
    left: 70%;
    font-size:18px ;
}
.little-button-1:hover{
    color: #ce332e;
    background-color: white;
}

.little-button-2{
    position: absolute;
    background-color: #ce332e;
    padding: 20px 20px;
    border-radius: 5px;
    color:white;
    text-decoration: none;
    top: 55%;
    left:15% ;
    font-size:18px ;
}
.little-button-2:hover{
    color: #ce332e;
    background-color: white;
}

.bar{
    width: 180px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    top: 67%;
    left:50%;
    border-radius: 5px 5px;
    transform: translateX(-50%);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.bar:hover{
    width: 500px;
    height: 3px;
}

.mini{
    position: absolute;
    top: 65.5%;
    left:48.5% ;
}


.star{
    color:#ce332e;
}

.mes-title{
    color:white;
    font-size:25px ;
    position: absolute;
    top:70%;
    left:50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.name{
    font-size:20px ;
    background-color: white;
    padding:5px 340px 5px 5px ;
    position: absolute;
    top: 75%;
    left:24% ;
    border-radius: 5px;
}
.name:hover{
    opacity: 0.8;
}

.mail{
    font-size:20px ;
    background-color: white;
    padding:5px 340px 5px 5px ;
    position: absolute;
    top: 75%;
    left:52% ;
    border-radius: 5px;
}
.mail:hover{
    opacity: 0.8;
}

.message{
    font-size:20px ;
    background-color: white;
    padding:5px 790px 100px 5px ;
    position: absolute;
    top: 80%;
    left:24% ;
    border-radius: 5px;
}
.message:hover{
    opacity: 0.8;
}

.send{
    font-size:20px ;
    background-color:#ce332e;
    color:white ;
    padding:10px 50px ;
    position: absolute;
    top: 92%;
    left:50% ;
    transform: translateX(-50%);
    border-radius: 5px;
    text-decoration: none;
}
.send:hover{
    background-color:#eeb424;
    color:black;
}


/*baniere*/

.baniere{
    height: 100px;
    background-color: #2a2a2a;
    position: relative;
}

.geo{
    position: absolute;
    left: 150px;
    top:25px;
    -webkit-transition: all 1s ease;
	transition: all 1s ease;
}
.geo:hover{
	-webkit-transform: rotate(-30deg);
	transform: rotate(-30deg);
}
.geo-txt{
    position: absolute;
    color:grey;
    text-transform: uppercase;
    font-size:20px;
    top: 40px;
    left: 15%;
}
.geo-txt:hover{
    color: white;
}


.clef{
    position: absolute;
    left: 40%;
    top:25px;
    -webkit-transition: all 1s ease;
	transition: all 1s ease;
}
.clef:hover{
    -webkit-transform: rotate(-30deg);
	transform: rotate(-30deg);
}
.clef-txt{
    color:grey;
    text-transform: uppercase;
    font-size:20px;
    top: 40px;
    left: 45%;
    position: absolute;
}
.clef-txt:hover{
    color: white;
}


.brochure{
    position: absolute;
    left: 70%;
    top:10px;
    -webkit-transition: all 1s ease;
	transition: all 1s ease;
}
.brochure:hover{
    -webkit-transform: rotate(-30deg);
	transform: rotate(-30deg);
}
.brochure-txt{
    position: absolute;
    color:grey;
    text-transform: uppercase;
    font-size:20px;
    top: 40px;
    left: 75%;
}
.brochure-txt:hover{
    color: white;
}

.lateral-one{
    position: absolute;
    background-color: white;
    width: 2px;
    height:70px ;
    top: 15px;
    left: 33.5%;
}
.lateral-two{
    position: absolute;
    background-color: white;
    width: 2px;
    height:70px;
    top: 15px;
    left: 64%;
}

.slide{
    height:2px;
    width: 100%;
    background-color: white;
}

/*footer*/

.footer{
    position: relative;
    height: 120px;
    background-color: #2a2a2a;
}

.fb{
    position: absolute;
    top:35px;
    left: 15%;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.fb:hover{
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.tw{
    position: absolute;
    top:35px;
    left: 30%;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.tw:hover{
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.insta{
    position: absolute;
    top:35px;
    left: 65%;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.insta:hover{
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.pint{
    position: absolute;
    top:35px;
    left: 80%;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.pint:hover{
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.footer-logo{
    position: absolute;
    top:10px ;
    transform: translateX(-50%);
    left:50%;
}

.slide-footer{
    background-color: white;
    height: 2px;
    width: 100%;
}